body {
    background: linear-gradient(135deg, #153677, #4e085f);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    padding-top: 50px;
    flex-direction: column; 
    align-items: center;    
    justify-content: flex-start; 
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #2b2b30;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    margin-bottom: 230px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #c5c5c6;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#task-input, #date-input {
    flex: 1;       
    min-width: 40%; 
}

#add-btn {
    width: 100%;   
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #6c5ce7;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px; 
}

.todo-table {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    border-collapse: collapse;
}

.todo-table th {
    border-bottom: 1px solid #444;
    padding: 10px;
    color: #a0a0a0;
    font-size: 0.9em;
}

.todo-table td {
    padding: 10px;
    border-bottom: 1px solid #333;
}


.completed {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: #252535; 
}

#error-message {
    color: #ff6b6b;
    display: block;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px; 
    gap: 10px;
}

#delete-all-btn {
    background-color: #ff6b6b; 
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 0; 
    width: auto;    
    
}
/* saya menambahkan "media query" agar tampilannya optimal pada saat dibuka di perangkat seperti hp dan tablet */
@media (max-width: 600px) {
    
    
    .container h1 {
        font-size: 1.5em;
    }

#filter-todo {
    width: auto; 
    padding: 10px;
    min-width: 120px; 
}

.todo-table th, .todo-table td {
        padding: 8px 5px; 
        font-size: 0.85em; 
    }

    .actions {
        flex-direction: column; 
    }
    
    #filter-todo, #delete-all-btn {
        width: 100%;
    }

}